<header>
    <div class="navigation">
        <div class="instalogo">
            <a class="" href="/"><i class="fa-brands fa-instagram"></i></a>
            <a class="v1" href="/"></a>
            <a href="/">Instagram</a>
        </div>
        <div class="search_bar">
            <input type="text" placeholder="Search">
            <a class="search" href=""><i class="fas fa-search"></i></a>
        </div>
        <div class="contacts_icons">
            <a class="explore" href="/"><i class="far fa-compass"></i></a>
            <a class="likes" href="/"><i class="far fa-heart"></i></a>
            <a class="profile" href="/"><i class="far fa-user"></i></a>
        </div>
    </div>
</header>