/* body {
    background-color: #ffff;
} */

header {
    background-color: #FAFAFA;
    border-bottom: 1px solid;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 26px 20px;
    /* flex-wrap: wrap; */
}

.navigation a {
    color: #111;
}

.instalogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
}

.instalogo a {
    font-size: 25px;
    padding-left: 10px;
}

.vl {
    border-left: 1.5px solid #111;
    height: 30px;
    margin-left: 20px;
}

.contact_icons {
    display: flex;
    justify-content: flex-end;
    width: 30px;
    padding-left: 100px;
}

.contact_icons a {
    padding-left: 30px;
    font-size: 25px;
    font-weight: lighter;
}

.search_bar {
    display: flex;
    width: 30%;
    justify-content: center;
    border-radius: 3px;
    columns: #999;
    cursor: text;
    text-align: center;
    padding-right: 350px;
    /* position: absolute; */
}

.search_bar a {
    font-size: 25px;
    padding-left: 15px;
}

.content_container {
    background-color: #FAFAFA;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    top: 83px;
    left: 0px;
    z-index: -1;
}

.card {
    background-color: #fff;
    margin: 0 auto;
    width: 1000px;
    height: auto;
    border: .8px solid #ccc;
    border-radius: 4px;
    margin-bottom: 60px;
}

.card-header {
    padding: 10px;
}

.card-header a {
    text-decoration: none;
    color: black;
}

.profile-image {
    display: inline-block;
    background-color: navy;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: 0 solid black;
    border-radius: 50%;
}

.post-info {
    display: inline-block;
    padding-left: 14px;
}

.post-info .post-name {
    font-size: 14px;
    color: black;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.post-info .post-location {
    font-size: 12px;
    color: gray;
    padding: 0;
    margin: 0;
}

.post-options {
    font-size: 15px;
    float: right;
    display: inline-block;
    margin: 4px;
    padding: 5px;
    color: #cccc;
}

.post-image {
    width: 100px;
    /* height: 614px; */
}

.engagement {
    display: inline-block;
    width: 100%;
    margin: 4px 0 0;
    padding: 0 16px;
}

.engagement a {
    padding: 7px;
    font-size: 25px;
    color: slategray;
    font-weight: 600;
}

.fa-bookmark {
    float: right;
    margin-right: 25px;
}

.likes a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #111;
    margin: 0 0 8px;
    padding: 0 21px;
}

.caption {
    display: inline-block;
    width: 100%;
    padding: 0 16px;
}

.caption a {
    font-size: 10px;
    font-weight: bold;
    color: #111;
    text-decoration: none;
    display: inline-block;
    padding-left: 5px;
    margin-left: -5px;
    padding-right: 5px;
}

.caption span {
    font-size: 18px;
    font-weight: 500;
    color: #111;
    display: inline-block;
    margin-right: 15px;
}

.time-posted {
    font-size: 10px;
    font-weight: 300;
    color: #111;
    padding: 16px 16px;
    text-transform: uppercase;
}