{% extends 'insta/base.html' %}

{% block content %}
{{block.super}}
{% for image in images %}
<div class="card">
    <div class="card-header">
        <div class="profile-image">

        </div>
        <div class="post-info">
            <div class="post-name">@{{ image.user }}</div>
            <div class="post-location">Nairobi</div>
        </div>
        <div class="post-options"><i class="fas fa-ellipsis-h"></i></div>
    </div>
    <div class="post-image">
        <a href="{% url 'image_details' image.id %}"><img src="{{ image.image.url }}" alt=""></a>
    </div>
    <div class="engagement">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-share-square"></i>
        <i class="far fa-bookmark"></i>
    </div>
    <div class="likes">
        <a href="">356 likes</a>
    </div>
    <div class="caption">
        <a href=""><h2>@nassehkinyu</h2></a>
        <span><p>{{image.imageCaption}}</p></span>
    </div>
    <div class="time-posted">
        <div>{{ image.created | timesince }} AGO</div>
    </div>
    <div>
        <a href="{% url 'comment' %}">Comment</a>
    </div>
</div>
{% endfor %}
{% endblock %}